In [1]:
import yaml
import dotenv
import os
import pandas as pd

In [2]:
dotenv.load_dotenv()
base_path = os.getenv("BASE_PATH")
config_path = os.path.join(base_path, "config.yml")
save_dir_dataset = os.path.join(base_path, "audio_set")
base_path

'D:\\audio_cls_coursework'

In [30]:
with open(config_path, "r", encoding="utf-8") as f:
    config = yaml.safe_load(f)

dataset_name = list(config["datasets"].keys())[0]
print(dataset_name)
url_train = config["datasets"][dataset_name]["train"]
print(url_train)
labels_item = config["labels"].items()
print(labels_item)

audio_set
http://storage.googleapis.com/us_audioset/youtube_corpus/v1/csv/balanced_train_segments.csv
dict_items([('siren', '/m/07rwj'), ('air_raid_siren', '/m/01hsr_'), ('alarm', '/m/0c3f7m'), ('explosion', '/m/0k4j'), ('gunshot', '/m/03_1v'), ('emergency_vehicle', '/m/04zjc')])

In [31]:
from scripts.downloading_datasets import download_dataset

await download_dataset(
    save_dir_dataset,
    url_dataset=url_train,
    dataset_name=dataset_name,
)
save_path = os.path.join(base_path, dataset_name, f"{dataset_name}.csv")

In [32]:
df = pd.read_csv(
    save_path,
    comment="#",
    header=None,
    names=["YTID", "start_seconds", "end_seconds", "positive_labels"],
    sep=", ",
    engine="python"
)
df = df[
    df['positive_labels'].str.split(',').str.len() == 1
]

df

              YTID  start_seconds  end_seconds positive_labels
1      --ZhevVpy1s           50.0         60.0     "/m/012xff"
5      --cB2ZVjpnA           30.0         40.0     "/m/01y3hg"
14     -0mjrMposBM           80.0         90.0     "/m/04zmvq"
20     -275_wTLm-4            7.0         17.0    "/m/07q6cd_"
21     -28U1_qW0sU           30.0         40.0    "/m/07qwdck"
...            ...            ...          ...             ...
22133  zvRYDcSZXtI          100.0        110.0     "/m/0150b9"
22138  zw97u7XoQaY          570.0        580.0     "/m/016622"
22145  zx3zeFZR7CA           30.0         40.0    "/m/02rtxlg"
22149  zxnbSCXxwb4           40.0         50.0    "/m/07plz5l"
22151  zy8mUJijw3o          340.0        350.0      "/m/0dl83"

[5498 rows x 4 columns]

In [33]:
from scripts.fltering_dataset import fiter_dataset
df = fiter_dataset(df, labels_item)

100%|██████████| 6/6 [00:00<00:00, 678.69it/s]

In [34]:
df.shape

(31, 4)